<!DOCTYPE html>
<html>
<head>
  <title>Bird Watching</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
<header>
  <h1>Bird Watching List</h1>
  <nav><a href="/upload" >upload</a></nav>
</header>
<main>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Date/Time</th>
      <th>Identification</th>
      <th>USER</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0,j=1; i<birdList.length; i++,j++) { %>
      <tr>
        <td><%=j%></td>
        <td><a href="/"><%= birdList[i].time %></a> </td>
        <td><%= birdList[i].type %></td>
        <td><%= birdList[i].publisher %></td>
      </tr>
    <% } %>
    </tbody>
  </table>
</main>
</body>
</html>