<!DOCTYPE html>
<html>
<head>
    <title>Bird Watching</title>
    <link rel='stylesheet' href='/stylesheets/upload.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Bird Sighting Club</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/upload">Upload</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<form id="xForm"  enctype="multipart/form-data" method="POST" action="/upload">
    <div class="container">
        <h1>Please fill in the details:</h1>
        <form action="/upload" method="post">
            <div class="block">
                <label for="userName">User Name：</label>
                <input type="text" name="userName" required>
            </div>

            <div class="block">
                <label for="bird-photo">The photo of bird：</label>
                <input type="file" id="bird-photo" name="img" required>
            </div>

            <div class="block">
                <label for="observation">Observed at: </label>
                <input type='date' name="observedAt"/><br>
            </div>

            <div id="search-panel">
                <input id="address" type="text" value="address here(eg. postcode)" />
                <button id="submit" type="button" value="Geocode">Search</button>
            </div>
            <div id="google-map">
            </div>

            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <!-- Google Map API -->
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ9gcEoETHLesDRF_qNPNTyLM9wbkxLBU&callback=initMap">
            </script>
            <script>

                /**
                 * Google Map API 주소의 callback 파라미터와 동일한 이름의 함수이다.
                 * Google Map API에서 콜백으로 실행시킨다.
                 */

                function initMap(elementId) {
                    /**
                     * 맵을 설정한다.
                     * 1번째 파라미터 : 구글 맵을 표시할 위치. 여기서는 #google-map
                     * 2번째 파라미터 : 맵 옵션.
                     *      ㄴ zoom : 맵 확대 정도
                     *      ㄴ center : 맵 중심 좌표 설정
                     *              ㄴ lat : 위도 (latitude)
                     *              ㄴ lng : 경도 (longitude)
                     */


                    var map = new google.maps.Map(document.getElementById('google-map'), {
                        zoom: 12.5,
                        center: {
                            lat: 53.3798303,
                            lng: -1.4681218
                        }
                    });




                    /**
                     * Google Geocoding. Google Map API에 포함되어 있다.
                     */
                    var geocoder = new google.maps.Geocoder();

                    // submit 버튼 클릭 이벤트 실행
                    document.getElementById('submit').addEventListener('click', function() {
                        console.log('submit 버튼 클릭 이벤트 실행');

                        // 여기서 실행
                        geocodeAddress(geocoder, map);
                    });

                    /**
                     * geocodeAddress
                     *
                     * 입력한 주소로 맵의 좌표를 바꾼다.
                     */
                    function geocodeAddress(geocoder, resultMap) {
                        console.log('geocodeAddress 함수 실행');

                        // 주소 설정
                        var address = document.getElementById('address').value;

                        /**
                         * 입력받은 주소로 좌표에 맵 마커를 찍는다.
                         * 1번째 파라미터 : 주소 등 여러가지.
                         *      ㄴ 참고 : https://developers.google.com/maps/documentation/javascript/geocoding#GeocodingRequests
                         *
                         * 2번째 파라미터의 함수
                         *      ㄴ result : 결과값
                         *      ㄴ status : 상태. OK가 나오면 정상.
                         */
                        geocoder.geocode({'address': address}, function(result, status) {
                            console.log(result);
                            console.log(status);

                            if (status === 'OK') {
                                // 맵의 중심 좌표를 설정한다.
                                resultMap.setCenter(result[0].geometry.location);
                                // 맵의 확대 정도를 설정한다.
                                resultMap.setZoom(18);
                                // 맵 마커
                                var marker = new google.maps.Marker({
                                    map: resultMap,
                                    position: result[0].geometry.location
                                });

                                // 위도
                                console.log('(latitude) : ' + marker.position.lat());
                                // 경도
                                console.log('(longitude) : ' + marker.position.lng());
                            } else {
                                alert('error: ' + status);
                            }
                        });
                    }
                }
            </script>





















            <div class="block">
                <label for="bird-description">Description：</label>
                <textarea id="bird-description" name="description" required></textarea>
            </div>
            <button type="submit">upload</button>
        </form>
    </div>
</form>

<!-- <div class="block">
               <label for="bird-address">Address：</label>
               <input type="text" id="bird-address" name="birdAddress" required>
           </div> -->