body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}
header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    margin: 0;
    font-size: 1.5em;
}

h2 {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}
nav a:hover{
    background-color: #ddd;
}
table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

thead {
    background-color: #6EC6F4;
    color: #fff;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.title {
    font-weight: bold;
    margin:10px;
}

.blank {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#chat-box {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    /*
    flex-direction: column;
    position: relative;

    top: 10px;
    bottom: 100px;
    left: 500px;

     */
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: auto;
}

#chatlog{
    width: 20%;
}

#chat-input-box {
    flex-grow: 1;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
}

#chat-send-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}