body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}
header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
  font-size: 1.5em;
}
nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

thead {
  background-color: #007bff;
  color: #fff;
}

th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
